* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: black;
  position: relative;
}
.nav__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: blue;
  transition: width 0.3s;
}

.nav__link:hover::after {
  width: 100%;
}
